CREATE USER <user> WITH ENCRYPTED PASSWORD 'password';
ALTER USER <user> WITH SUPERUSER CREATEDB;
CREATE USER <userapp> WITH ENCRYPTED PASSWORD 'password';
ALTER USER <userapp> WITH SUPERUSER CREATEDB;
CREATE DATABASE <app>;
GRANT ALL PRIVILEGES ON DATABASE <app> TO <userapp>;